@mixin wrap($max-width: var(--cxl-wrap-width, none)) {
  position: relative;
  max-width: $max-width;
  padding-right: var(--cxl-wrap-padding);
  padding-left: var(--cxl-wrap-padding);
  margin-right: auto;
  margin-left: auto;
}
