@use "../mixins";

cxl-blog-post-layout {
  > .entry {
    margin-top: var(--cxl-wrap-padding);
    margin-bottom: var(--cxl-wrap-padding);

    .entry-header {
      margin-bottom: var(
        --lumo-space-xl
      ) !important; /* stylelint-disable-line declaration-no-important */

      label {
        font-size: var(--lumo-font-size-l);
        color: var(--lumo-primary-color);
      }

      .avatar {
        border-radius: 50%;
      }

      .author-image {
        float: left;
        margin-right: var(--cxl-wrap-padding);
      }

      .blog-byline {
        font-size: var(--lumo-font-size-xl);
      }

      .entry-author {
        padding: var(--lumo-space-l) 0;
        border-bottom: 1px solid var(--lumo-contrast-50pct);

        /* stylelint-disable-next-line selector-max-compound-selectors */
        span {
          display: block;
        }
      }
    }

    .entry-media {
      margin: var(--cxl-wrap-padding) calc(var(--cxl-wrap-padding) * -1); // Full screen width, while padded.
      background-color: var(--lumo-shade);
    }

    .entry-title {
      font-size: var(--lumo-font-size-xxxl);
    }

    > * {
      font-size: var(--lumo-font-size-l);
    }
  }

  > .widget {
    padding: var(--cxl-wrap-padding);
    margin-top: var(--cxl-wrap-padding);
    margin-bottom: var(--cxl-wrap-padding);

    .widget-title {
      margin-top: 0;
      font-weight: 300;
    }

    &#widget-webinar {
      color: var(--lumo-base-color);
      background-color: var(--lumo-contrast);
    }

    &#widget-video-course {
      background-color: var(--lumo-shade-10pct);
    }
  }

  &[wide] {
    --cxl-wrap-padding: var(--lumo-space-l);

    .entry-title {
      margin-top: var(--lumo-space-m);
      font-size: var(--cxl-lumo-font-size-hero);
    }

    > .entry {
      .entry-content,
      .entry-header,
      .entry-footer {
        max-width: var(--cxl-content-width);
        padding: 0 var(--cxl-wrap-padding);
        margin: 0 auto;
      }
    }
  }
}
